
.btn-download {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    border-radius: 25px;
}

.touchpad-mouse:hover {
    border: 1px solid gainsboro;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}