.text-login {
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}

.text-size-15 {
    font-size: 13px;
}

.btn-primary-platram {
    background-color: #9F9F9F;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
}