.text-login {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 4rem;
}

.input-botton-login {
    margin-bottom: 3rem;
}

.text-size-15 {
    font-size: 13px;
}

.btn-primary-platram {
    background-color: #202020;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
}

.input-password-border-right-none {
    border-right: none;
}

.input-password-border-none {
    border: none !important;
    border-top: 1px solid #ced4da !important;
    border-right: 1px solid #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
    background: white !important;
    cursor: pointer;
}